updateList
updateDoNotCopyOverList
ErrorLogs/*
FitNesse
.svn
.DS_Store
desktop.ini
*.zip
PageFooter
PageHeader
RecentChanges
TemplateLibrary
/RecentChanges.wiki
/RerunLastFailures*
/files/testResults
